<h2>Carousel Demo</h2>
<div class="carousel">
    <p> pictures:{{$ctrl.pictures}}</p>
    <p> strip:{{$ctrl.strip}}</p>

    <br>

    <button ng-click="$ctrl.prev()">&lt;</button>
    <button ng-click="$ctrl.next()">&gt;</button>

    </br></br>

    <div style="overflow: hidden;
        width:100%; height: 250px;
        background-color: #efefef; white-space: nowrap;"
         scrollyleft="$ctrl.scrollLeft()"
         scrollyright="$ctrl.scrollRight()">

        <div style="display:inline;" ng-repeat="item in $ctrl.strip">
            <img ng-src="{{item.pic}}"/>
        </div>
    </div>


</div>
